
body {
	font-family: arial;
}
#myTable {
	width: 700px;
	background-color: #fcfcfc;
	padding: 10px 0px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}
#myTable span {
	display: inline-block;
    width: 75px;
    padding: 10px;
    text-align: center;
}
#myTable span.dayActive {
	background-color: grey;
	color: #ffffff;
}
#myTable span.dayActive button {
	color: #ffffff;
}
#myTable span.prevDay button {
	color: lightgrey;
}
#myTable span.selected {
	background-color: green;
	color: #ffffff;
}
#myTable span button, #myTable span button:focus {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline-color: transparent;
	color: inherit;
}
.month, .year {
	text-align: center;
	padding: 10px 0px;
	font-size: 20px;
}
.month {
	background-color: #dddddd;
	box-shadow: 0px 3px 8px #cccccc;
}
.weeks span {
	font-weight: 600;
}
a.btn {
	font-size: 30px;
	cursor: pointer;
	padding: 10px 20px;
}
.showClass {
	display: block;
}
.hideClass {
	display: none;
}
#dateValue {
	margin-top: 20px;
	width: 100px;
	padding: 10px;
}
/* Split the screen in half */
.split {
  height: 100%;
  width: 55%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}